<section class="sign">
  <form class="sign__form" novalidate>
    <h2 class="sign__title">{{title}}</h2>
    <div class="sign__input-container">
    <div class="sign__input-group">
      <input required type="text" class="sign__input" placeholder="">
      <label class="sign__input-placeholder">Логин</label>
    </div>
    <div class="sign__input-group">
    <input required type="password" class="sign__input" placeholder="">
    <label class="sign__input-placeholder">Пароль</label>
    </div>
    </div>
    {{{button}}}
    <a href="/signup" class="sign__link link">{{sign_link}}</a>
  </form>
</section>