<section class="profile">
  <div class="profile__left-block">
    <a href="/profile" class="link">
    <div class="profile__round-link">
    </div>
    </a>
  </div>
  <div class="profile__right-block">
    <form action="" class="profile__form">
      {{{avatar}}}
      <h2 class="profile__title"></h2>
      <label class="profile__input-title">
        Старый пароль
        <input type="password" name="email" class="profile__input" required>
      </label>
      <label class="profile__input-title">
        Новый пароль
        <input type="password" name="login" class="profile__input" required>
      </label>
      <label class="profile__input-title">
        Повторите новый пароль
        <input type="password" name="name" class="profile__input" required>
      </label>
      <div class="profile__space"></div>
      {{{button}}}
    </form>
  </div>
</section>