<section class='chatlist'>
  <aside class='sidebar'> 
    <div class='sidebar__header'> 
      <nav class='sidebar__navigation'> 
        {{{ burgerMenu }}}
      </nav>
      <form method='POST' class='sidebar__search-form search-form'> 
        <input class='search-form__input' type='text' placeholder='       Поиск'>
      </form>
    </div>
    <ul class='chat-preview-list'>
      {{{ chatPreview }}}
    </ul>
  </aside>
  <div class="chatlist__chat-space">
    <p class="chatlist__text">Выберите чат чтобы продолжить общение</p>
    {{!-- {{{ chat }}} --}}
  </div>
</section>