<section class="sign">
  <form class="sign__form" novalidate>
    <h2 class="sign__title">{{title}}</h2>
    <fieldset class="sign__input-container">
      <fieldset class="sign__input-group">
        <input required type="email" name='email' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Почта</label>
      </fieldset>
      <fieldset class="sign__input-group">
        <input required type="text" name='login' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Логин</label>
      </fieldset>
      <fieldset class="sign__input-group">
        <input required type="text" name='first_name' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Имя</label>
      </fieldset>
      <fieldset class="sign__input-group">
        <input required type="text" name='second_name' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Фамилия</label>
      </fieldset>
      <fieldset class="sign__input-group">
        <input required type="tel" name='phone' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Телефон</label>
      </fieldset>
      <fieldset class="sign__input-group">
        <input required type="password" name='password' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Пароль</label>
      </fieldset>
      <fieldset class="sign__input-group">
        <input required type="password" name='confirm-password' class="sign__input" placeholder="">
        <label class="sign__input-placeholder">Пароль (ещё раз)</label>
      </fieldset>
    </fieldset>
    {{{ button }}}
    <a href="/signin" class="sign__link link">{{sign_link}}</a>
  </form>
</section>
