<section class="profile">
  <div class="profile__left-block">
    <a href="/profile" class="link">
    <div class="profile__round-link">
    </div>
    </a>
  </div>
  <div class="profile__right-block">
    <form action="" class="profile__form">
      {{{ avatar }}}
      <label class="profile__input-title">
        Почта
        <input type="email" name="email" class="profile__input" placeholder="pochta@yandex.ru" value="pochta@yandex.ru">
      </label>
      <label class="profile__input-title">
        Логин
        <input type="text" name="login" class="profile__input" placeholder="ivanivanov" value="ivanivanov">
      </label>
      <label class="profile__input-title">
        Имя
        <input type="text" name="name" class="profile__input" placeholder="Иван" value="Иван" >
      </label>
      <label class="profile__input-title">
        Фамилия
        <input type="text" name="surname" class="profile__input" placeholder="Иванов" value="Иванов">
      </label>
      <label class="profile__input-title">
        Имя в чате
        <input type="text" name="nickname" class="profile__input" placeholder="Иван" value="Иван">
      </label>
      <label class="profile__input-title">
        Телефон
        <input type="tel" name="phone" class="profile__input" placeholder="+7(909)9673030" value="+7(909)9673030">
      </label>
      <div class="profile__space"></div>
      {{{ button }}}
    </form>
  </div>
</section>