@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: string.quote($font-name);
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
    src:
      url($path + '.woff2') format("woff2"),
      url($path + '.woff') format("woff"),
      url($path + '.ttf') format("truetype");
  }
}

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
  font-size: $font-size * 1px;
}

@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($direction: center) {
  display: flex;
  align-items: $direction;
  justify-content: $direction;
}

@mixin push-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin fade($type) {
  @if $type == "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type == "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin rul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Media queries

@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}
