// colors
$color-primary: #2875fb;
$color-primary-text: #5f5d6a;
$color-primary-bg: #f7f8fc;
$color-secondary: #999;
$color-secondary-bg: #e9edf3;
$color-tertiary: #cdcdcd;
$color-tertiary-line: #eaeaea;
$color-tertiary-bg: #dae4f7;
$color-light: #fff;
$color-dark: #1e1e1e;
$color-danger: #ff2f2f;

// background-image
$bi-primary-gradient: linear-gradient(0deg, #dae4f7 10%, #f0faff 90%);

// breakpoints
$phone: 400px;
$tablet: 768;
$large: 1024;
$desktop: 1280;
