//colors
$color-primary: #2875FB;
$color-primary-text: #5F5D6A;
$color-primary-bg: #F7F8FC;
$color-secondary: #999999; 
$color-secondary-bg: #E9EDF3; 
$color-tertiary: #CDCDCD;
$color-tertiary-line: #EAEAEA;
$color-tertiary-bg: #DAE4F7;
$color-light: #FFFFFF;
$color-dark: #1E1E1E;
$color-danger: #FF2F2F;

//background-image
$bi-primary-gradient: linear-gradient(0deg, #dae4f7 10%, #f0faff 90%);

//breakpoints
$phone: 400px;
$tablet: 768;
$large: 1024;
$desktop: 1280;