<div class="header">
  <div class="header__links">
    <a href="/" class="header__link link">Чат</a>
    <a href="/signin" class="header__link link">Вход</a>
    <a href="/signup" class="header__link link">Регистрация</a>
    <a href="/profile" class="header__link link">Профиль</a>
    <a href="/changeinfo" class="header__link link">Изменить данные</a>
    <a href="/changepassword" class="header__link link">Изменить пароль</a>
    <a href="/500" class="header__link link">500</a>
    <a href="/404" class="header__link link">404</a>
  </div>
</div>