@import '../../../static/styles/mixins';
@import '../../../static/styles/vars';

.header {
  color: $color-primary;
  &__links {
    @include flex();
    margin: 0;
    gap: 20px;
  }
  &__link {
    list-style: none;
    margin: 10px 0;
  }
}

.link {
  color: $color-primary;
}