<div class="header">
  <nav class="header__links">
    <li class="header__link"><a href="/" class="link">Чат</a></li>
    <li class="header__link"><a href="/signin" class="link">Вход</a></li>
    <li class="header__link"><a href="/signup" class="link">Регистрация</a></li>
    <li class="header__link"><a href="/profile" class="link">Профиль</a></li>
    <li class="header__link"><a href="/changeinfo" class="link">Изменить данные</a></li>
    <li class="header__link"><a href="/changepassword" class="link">Изменить пароль</a></li>
    <li class="header__link"><a href="/500" class="link">500</a></li>
    <li class="header__link"><a href="/404" class="link">404</a></li>
  </nav>
</div>