<section class="page-error">
    <h1 class="page-error__title">{{title}}</h1>
    <p class="page-error__subtitle">{{subtitle}}</p>
    <a class='page-error__link link' href="/">Назад к чатам</a>
</section>